/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetica Neue LT Pro Bold";
    src: url(../fonts/HelveticaNeueLTPro-Bd_0.otf);
}

@font-face {
    font-family: "Helvetica Neue LT Pro Black";
    src: url(../fonts/HelveticaNeueLTPro-Blk.otf);
}

h1 {
    font-family: "Helvetica Neue LT Pro Black";
    font-weight: bold;
    font-size: 8.5rem;
    color: #FF4402;
}

h2 {
    font-family: "Helvetica Neue LT Pro Bold";
    font-weight: bold;
    font-size: 3rem;
    color: #FF4402;
}

h3 {
    font-family: "Helvetica Neue LT Pro Bold";
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

p {
    font-family: "Helvetica Neue LT Pro Bold";
    font-weight: bold;
    font-size: 1rem;
    color: #FF4402;
    line-height: 1.5;
}

@keyframes darkmodebody {
  from {
   background-color: #FFF6F0;
  }

  to {
    background-color: black;
  }
}

body {
    background-color: #FFF6F0;
    height: 3000px;
}

body.darkmode {
    animation-duration: .5s;
    animation-delay: 1s;
    animation-name: darkmodebody;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/*---------------------------------- INTRO ANIMATIE ----------------------------------*/

@keyframes introtitel {
  from {
   width: 36rem;
      opacity: 0;
  }

  to {
    width: 33rem;
      opacity: 1;
  }
}

@keyframes introtitelzoo {
  from {
   bottom: 0rem;
      opacity: 0;
  }

  to {
    bottom: 5rem;
      opacity: 1;
  }
}

@keyframes introbushes {
  from {
   bottom: -50%;
  }

  to {
    bottom: 0%;
  }
}

/*---------------------------------- HEADER ----------------------------------*/

@keyframes darkmodebutton {
  from {
   background-image: url(../images/Dark-mode-icon.svg);
  }

  to {
    background-image: url(../images/Dark-mode-icon-white.svg);
  }
}

body > header > button {
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    background-image: url(../images/Dark-mode-icon.svg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 10;
    transition: .5s;
}

body > header > button.buttonappear {
    opacity: 1;
    transition: .5s;
}

body > header > button.darkmode {
    animation-duration: .5s;
    animation-delay: 1s;
    animation-name: darkmodebutton;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body > header > button:hover,
body > header > button:focus
{
    transform: rotate(180deg);
    transition: .5s;
}

body > header div:nth-of-type(1) {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
}

body > header div:nth-of-type(1) img, 
body > header div:nth-of-type(1) h3 {
    display: inline-block; 
}

body > header div:nth-of-type(1) img {
    fill: black;
    height: 1rem;
}

/*---------------------------------- MAIN ----------------------------------*/

main > section {
    width: 100%;
    height: 100%;
    position: fixed;
}

main > section:nth-of-type(1) {
    pointer-events:none;
    z-index: 10;
    
}

main > section:nth-of-type(1) > div:nth-of-type(1) {
    height: 2000px;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: 45%;
    width: 33rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: introtitel;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) h2{
    width: 45%;
    width: 15rem;
    text-align: right;
    }

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
    height: 5rem;
    width: 0.3rem;
    background-color: #FF4402;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) p {
    width: 45%;
    width: 15rem;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div h2,
main > section:nth-of-type(1) > div:nth-of-type(1) > div > div,
main > section:nth-of-type(1) > div:nth-of-type(1) > div p {
    display: inline-block;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    text-align: center;
    opacity: 1;
    
    animation-duration: 1s;
    animation-delay: 2s;
    animation-name: introtitelzoo;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) img {
    width: 10rem;
    display: block;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) img:nth-of-type(1) {
    margin-top: -1rem;
    padding-bottom: 1rem;
}


main > section:nth-of-type(1) > div:nth-of-type(1) > img {
    position: absolute;
    bottom: -50%;
    width: 100%;
    
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: introbushes;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/*---------------------------------- ARTWORK ----------------------------------*/

main > section:nth-of-type(2) {
    width: 100vw;
}

main > section:nth-of-type(2) > div:nth-of-type(1) {
    height: 3000px;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div {    
    display: grid;
        grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > svg {    
        grid-column: 3;
    grid-row: 1 / -1;
    width: 50rem;
    align-self: center;
    justify-self: center;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3 {
    text-transform: uppercase;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(1) {
    grid-column: 2;
    grid-row: 4;
    justify-self: end;
    margin-top: 2.5rem;
/*    transform: translate(-100vw, 0px);*/
    opacity: 0;
     transition: .5s;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(2) {
grid-column: 2/4;
    grid-row: 4;
    align-self: end;
    justify-self: center;
/*    transform: translate(-100vw, 0px);*/
    opacity: 0;
     transition: .5s;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(1).darkmode, 
main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(2).darkmode{
    display: none;
}

main > section:nth-of-type(2) #London_underground,
main > section:nth-of-type(2) #Overlay_london,
main > section:nth-of-type(2) #Nose,
main > section:nth-of-type(2) #Snorharen_Group_1,
main > section:nth-of-type(2) #Snorharen_Group_2,
main > section:nth-of-type(2) #Mouth,
main > section:nth-of-type(2) #Giraffe,
main > section:nth-of-type(2) #Zoo {
    opacity: 0;
    transition: .5s;
}

main > section:nth-of-type(2) #London_underground.artappear,
main > section:nth-of-type(2) #Overlay_london.artappear,
main > section:nth-of-type(2) #Nose.artappear,
main > section:nth-of-type(2) #Snorharen_Group_1.artappear,
main > section:nth-of-type(2) #Snorharen_Group_2.artappear,
main > section:nth-of-type(2) #Mouth.artappear,
main > section:nth-of-type(2) #Zoo.artappear, 
main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(1).artappear, 
main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(2).artappear{
    opacity: 1;
    transition: .5s;
}

main > section:nth-of-type(2) #London_underground.darkmode,
main > section:nth-of-type(2) #Overlay_london.darkmode,
main > section:nth-of-type(2) #Nose.darkmode,
main > section:nth-of-type(2) #Snorharen_Group_1.darkmode,
main > section:nth-of-type(2) #Snorharen_Group_2.darkmode,
main > section:nth-of-type(2) #Mouth.darkmode,
main > section:nth-of-type(2) #Zoo.darkmode {
    fill: #FFF6F0;
    transition: .5s;
}

@keyframes ogenanimatie {
    0% {
        fill: inherit;
    }
    
    50% {
        fill: black;
    }
    
    100% {
       fill: #ffdd00; 
    }
}

main > section:nth-of-type(2) #Oneven_4.darkmode,
main > section:nth-of-type(2) #Oneven_5.darkmode{
    animation-name: ogenanimatie;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

main > section:nth-of-type(2) #Even {
    transform: translate(-100vw, 0px);
    fill: #FDE7D8;
}

main > section:nth-of-type(2) #Oneven {
    transform: translate(100vw, 0px);
    fill: #FF4402;
}

main > section:nth-of-type(2) #Even_1,
main > section:nth-of-type(2) #Even_2,
main > section:nth-of-type(2) #Even_3,
main > section:nth-of-type(2) #Even_4,
main > section:nth-of-type(2) #Even_5,
main > section:nth-of-type(2) #Even_6,
main > section:nth-of-type(2) #Even_7,
main > section:nth-of-type(2) #Even_8,
main > section:nth-of-type(2) #Even_9,
main > section:nth-of-type(2) #Even_10,
main > section:nth-of-type(2) #Even_11,
main > section:nth-of-type(2) #Even_12,
main > section:nth-of-type(2) #Even_13,
main > section:nth-of-type(2) #Even_14,
main > section:nth-of-type(2) #Even_15,
main > section:nth-of-type(2) #Oneven_1,
main > section:nth-of-type(2) #Oneven_2,
main > section:nth-of-type(2) #Oneven_3,
main > section:nth-of-type(2) #Oneven_4,
main > section:nth-of-type(2) #Oneven_5,
main > section:nth-of-type(2) #Oneven_6,
main > section:nth-of-type(2) #Oneven_7,
main > section:nth-of-type(2) #Oneven_8,
main > section:nth-of-type(2) #Oneven_9,
main > section:nth-of-type(2) #Oneven_10, 
main > section:nth-of-type(2) #Oneven_11,
main > section:nth-of-type(2) #Oneven_12,
main > section:nth-of-type(2) #Oneven_13,
main > section:nth-of-type(2) #Oneven_14,
main > section:nth-of-type(2) #Oneven_15,
main > section:nth-of-type(2) #Oneven_16,
main > section:nth-of-type(2) #Oneven_17,
main > section:nth-of-type(2) #Oneven_18{
    transform: translate(0vw, 0px);
    transform-origin:center;
    transition: .5s;
}

main > section:nth-of-type(2) #Even_1:hover,
main > section:nth-of-type(2) #Even_2:hover,
main > section:nth-of-type(2) #Even_3:hover,
main > section:nth-of-type(2) #Even_4:hover,
main > section:nth-of-type(2) #Even_5:hover,
main > section:nth-of-type(2) #Even_6:hover,
main > section:nth-of-type(2) #Even_7:hover,
main > section:nth-of-type(2) #Even_8:hover,
main > section:nth-of-type(2) #Even_10:hover {
    fill: #FF4402;
    transform: translate(2vw, 0px);
}

main > section:nth-of-type(2) #Oneven_1:hover,
main > section:nth-of-type(2) #Oneven_2:hover,
main > section:nth-of-type(2) #Oneven_3:hover,
main > section:nth-of-type(2) #Oneven_4:hover,
main > section:nth-of-type(2) #Oneven_5:hover,
main > section:nth-of-type(2) #Oneven_6:hover,
main > section:nth-of-type(2) #Oneven_7:hover,
main > section:nth-of-type(2) #Oneven_8:hover,
main > section:nth-of-type(2) #Oneven_9:hover,
main > section:nth-of-type(2) #Oneven_10:hover,
main > section:nth-of-type(2) #Oneven_11:hover,
main > section:nth-of-type(2) #Oneven_12:hover{
    fill: #FDE7D8;
    transform: translate(2vw, 0px);
}

@keyframes staart-animation-links {
    0% {
        transform: translate(0vw, 0px);
    }
    
    50% {
        transform: translate(-1vw, 0px);
    }
    
    100% {
        transform: translate(0vw, 0px);
    }
}

@keyframes staart-animation-rechts {
    0% {
        transform: translate(0vw, 0px);
    }
    
    50% {
        transform: translate(1vw, 0px);
    }
    
    100% {
        transform: translate(0vw, 0px);
    }
}

@keyframes staart-animation-up {
    0% {
        transform: translate(0vw, 0vw);
    }
    
    50% {
        transform: translate(0vw, -1vw);
    }
    
    100% {
        transform: translate(0vw, 0vw);
    }
}

@keyframes staart-animation-down {
    0% {
        transform: translate(0vw, 0vw);
    }
    
    50% {
        transform: translate(0vw, 1vw);
    }
    
    100% {
        transform: translate(0vw, 0vw);
    }
}

 main > section:nth-of-type(2) #Oneven_13.staartanimation,
main > section:nth-of-type(2) #Oneven_15.staartanimation {
    animation-name: staart-animation-links;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
main > section:nth-of-type(2) #Oneven_14.staartanimation {
    animation-name: staart-animation-rechts;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(2) #Oneven_17.staartanimation {
    animation-name: staart-animation-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(2) #Oneven_18.staartanimation {
    animation-name: staart-animation-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(2) #Even.darkmode {
    fill: black;
}

main > section:nth-of-type(2) #Oneven.darkmode {
    fill: #FFF6F0;
}

/*---------------------------------- GIRAFFE MODE ----------------------------------*/

@keyframes giraffeanimation {
  0% {
   transform: rotate(30deg);
      opacity: 0;
  }

  100% {
    transform: rotate(0deg);
      opacity: 1;
  }
}

@keyframes londonundergroundanimation {
  0% {
   transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

main > section:nth-of-type(2) #London_underground:hover {
    transition: .5s;
    fill: #FF4402;
}

main > section:nth-of-type(2) #London_underground {
        transform-origin: 55.8% 57.5%;
}

main > section:nth-of-type(2) #London_underground.giraffeanimation {
    animation-duration: 1s;

    animation-name: londonundergroundanimation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

main > section:nth-of-type(2) #Giraffe {
    transform-origin: 55rem 26rem;
}

main > section:nth-of-type(2) #Giraffe.giraffeanimation {
    transform: rotate(30deg);
    animation-delay: .5s;
    animation-duration: .5s;

    animation-name: giraffeanimation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/*---------------------------------- NOSE MODE ----------------------------------*/

@keyframes noseanimation{
    0% {
         transform: translate(0vw, 0px);
    }
    
    50% {
         transform: translate(-1vw, 0px);
    }
    
     100% {
         transform: translate(0vw, 0px);
    }
    
}

main > section:nth-of-type(2) #Nose.nosemode {
    animation-duration: .5s;
    animation-name: noseanimation;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

main > section:nth-of-type(2) #Snorharen_Group_1 {
        transform: translate(0vw, 0px) rotate(0deg);
    transition: .5s
}

main > section:nth-of-type(2) #Snorharen_Group_2 {
        transform: translate(0vw, 0px) rotate(0deg);
    transition: .5s
}

main > section:nth-of-type(2) #Snorharen_Group_1.nosemode {
    transform: translate(-2vw, 0px);
}

main > section:nth-of-type(2) #Snorharen_Group_2.nosemode {
    transform: translate(2vw, 0px);
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > div {
        width: 0rem;
    height: 0rem;
    background-color: #ffdd00;
    border-radius: 100%;
    
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    z-index: -10;
    transition: .5s
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > div.nosemode {
        width: 25rem;
    height: 25rem;
}


/*---------------------------------- ZOO MODE ----------------------------------*/

@keyframes zoo-rotation-links {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes zoo-rotation-rechts {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

main > section:nth-of-type(2) #Zoo1 {
    transform-origin: 47.5% 78.2%;
}

main > section:nth-of-type(2) #Zoo2 {
   transform-origin: 55.8% 78.2%;
}

main > section:nth-of-type(2) #Zoo1.zoorotationlinks {
    animation-name: zoo-rotation-links;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;  
}

main > section:nth-of-type(2) #Zoo2.zoorotationlinks {
    animation-name: zoo-rotation-links;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

main > section:nth-of-type(2) #Zoo1.zoorotationrechts {
    animation-name: zoo-rotation-rechts;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;  
}

main > section:nth-of-type(2) #Zoo2.zoorotationrechts {
    animation-name: zoo-rotation-rechts;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

main > section:nth-of-type(1) > div:nth-of-type(1) > img:nth-of-type(2) {
    display: none;
}


/*---------------------------------- COLOR MODES ----------------------------------*/

/*
body {
    background-color: #eddac7;
}

main > section:nth-of-type(2) #Even {
    fill: #3194af ;
}

main > section:nth-of-type(2) #Oneven {
    fill: #3194af;
}
*/

/*---------------------------------- MEDIA QUERIES ----------------------------------*/

@media screen and (max-width: 25em) {
    
    /*- HEADER -*/
    body > header div:nth-of-type(1) {
        text-align: center;
    }
    
    body > header div:nth-of-type(1) img {
        margin-bottom: .5rem;
            display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    /*- INTROSECTION -*/
    
    @keyframes introtitelmobiel {
  from {
   
      opacity: 0;
  }

  to {
    
      opacity: 1;
  }
}
    
  main > section:nth-of-type(1) > div:nth-of-type(1) > img {
    width: 200%;
  }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > img:nth-of-type(2) {
        width: 200%;
    display: block;
        right: 0;
}
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    flex-direction: column;
        animation-name: introtitelmobiel;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) h2 {
        width: auto;
    text-align: center;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
    height: .3rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) p {
    width: 75%;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) h1 {
            font-size: 6.5rem;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) img {
            width: 6.5rem;
    }
    
    /*- ARTWORK -*/
    
     main > section:nth-of-type(2) #Even {
        transform: translate(-150vw, 0px);
    }
    
    main > section:nth-of-type(2) #Oneven {
        transform: translate(150vw, 0px);
    }
    
    main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(1) {
    display: none;
}

main > section:nth-of-type(2) > div:nth-of-type(1) > div > h3:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 1.2rem;
    grid-column: 3/5;
    grid-row: 3;
    align-self: end;
    color: #FFF6F0;
    justify-self: right;
        pointer-events: none;
}  
}

@media screen and (max-width: 45em) {
    
    /*- HEADER -*/
    body > header div:nth-of-type(1) {
        text-align: center;
    }
    
    body > header div:nth-of-type(1) img {
        margin-bottom: .5rem;
            display: block;
    margin-left: auto;
    margin-right: auto;
}
      @keyframes introtitelmobiel {
  from {
   
      opacity: 0;
  }

  to {
    
      opacity: 1;
  }
}
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    flex-direction: column;
        animation-name: introtitelmobiel;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) h2 {
        width: auto;
    text-align: center;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
    height: .3rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) p {
    width: 75%;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) h1 {
            font-size: 6.5rem;
    }
    
    main > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) img {
            width: 6.5rem;
    }
    
}

